RedSky.Infrastructure.NFSe/Connected Services/SPTatuiNFSeRecepcionarLoteRPSSincrono/RecepcionarLoteRpsSincrono.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="Abrasf2" xmlns:wsdlns="Abrasf2" name="RecepcionarLoteRpsSincrono" targetNamespace="Abrasf2" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified" targetNamespace="Abrasf2">
      <xsd:element name="RecepcionarLoteRpsSincrono.Execute">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Entrada" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RecepcionarLoteRpsSincrono.ExecuteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Resposta" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="RecepcionarLoteRpsSincrono.ExecuteSoapIn">
    <part name="parameters" element="wsdlns:RecepcionarLoteRpsSincrono.Execute" />
  </message>
  <message name="RecepcionarLoteRpsSincrono.ExecuteSoapOut">
    <part name="parameters" element="wsdlns:RecepcionarLoteRpsSincrono.ExecuteResponse" />
  </message>
  <portType name="RecepcionarLoteRpsSincronoSoapPort">
    <operation name="Execute">
      <input message="wsdlns:RecepcionarLoteRpsSincrono.ExecuteSoapIn" />
      <output message="wsdlns:RecepcionarLoteRpsSincrono.ExecuteSoapOut" />
    </operation>
  </portType>
  <binding name="RecepcionarLoteRpsSincronoSoapBinding" type="wsdlns:RecepcionarLoteRpsSincronoSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Execute">
      <soap:operation soapAction="Abrasf2action/ARECEPCIONARLOTERPSSINCRONO.Execute" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="RecepcionarLoteRpsSincrono">
    <port name="RecepcionarLoteRpsSincronoSoapPort" binding="wsdlns:RecepcionarLoteRpsSincronoSoapBinding">
      <soap:address location="http://tatui.sistemas4r.com.br/abrasf/arecepcionarloterpssincrono.aspx" />
    </port>
  </service>
</definitions>